<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

    <!--start servlet lifecycle example-->
    <servlet>
        <servlet-name>servlet-lifecycle-example</servlet-name>
        <servlet-class>com.asrori.ServletLifecycleExample</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>servlet-lifecycle-example</servlet-name>
        <url-pattern>/servlet-lifecycle-example</url-pattern>
    </servlet-mapping>
    <!--end servlet lifecycle example-->

    <!--start form handling-->
    <servlet>
        <servlet-name>form-get-method-example</servlet-name>
        <servlet-class>com.asrori.formhandling.FormGETExample</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>form-get-method-example</servlet-name>
        <url-pattern>/form-get-method-example</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>form-post-method-example</servlet-name>
        <servlet-class>com.asrori.formhandling.FormPOSTExample</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>form-post-method-example</servlet-name>
        <url-pattern>/form-post-method-example</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>checkbox-reading</servlet-name>
        <servlet-class>com.asrori.formhandling.ReadCheckbox</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>checkbox-reading</servlet-name>
        <url-pattern>/checkbox-reading</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>read-all-parameter</servlet-name>
        <servlet-class>com.asrori.formhandling.ReadAllParams</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>read-all-parameter</servlet-name>
        <url-pattern>/read-all-parameter</url-pattern>
    </servlet-mapping>
    <!--end form handling-->

    <!--start client HTTP request header example-->
    <servlet>
        <servlet-name>client-HTTP-request-header</servlet-name>
        <servlet-class>com.asrori.httprequestresponse.ClientHTTPRequestExample</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>client-HTTP-request-header</servlet-name>
        <url-pattern>/client-HTTP-request-header</url-pattern>
    </servlet-mapping>
    <!--end client HTTP request header example-->

    <!--start server HTTP response Header-->
    <servlet>
        <servlet-name>server-HTTP-response-header</servlet-name>
        <servlet-class>com.asrori.httprequestresponse.ServerHTTPResponse</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>server-HTTP-response-header</servlet-name>
        <url-pattern>/server-HTTP-response-header</url-pattern>
    </servlet-mapping>
    <!--end server HTTP response Header-->

    <!--start HTTP code example-->
    <servlet>
        <servlet-name>HTTP-code-example</servlet-name>
        <servlet-class>com.asrori.httprequestresponse.HTTPCodeExample</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HTTP-code-example</servlet-name>
        <url-pattern>/HTTP-code-example</url-pattern>
    </servlet-mapping>
    <!--end HTTP code example-->

    <!--start servlet filter-->
    <filter>
        <filter-name>LogFilter</filter-name>
        <filter-class>com.asrori.ServletFilterExample</filter-class>
        <init-param>
            <param-name>test-param</param-name>
            <param-value>Initialization Parameter</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--end servlet filter-->

    <!--start exception handling-->
    <servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>com.asrori.ErrorHandler</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/ErrorHandler</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/ErrorHandler</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type >
        <location>/ErrorHandler</location>
    </error-page>
    <!--end exception handling-->

    <!--start cookie and session ecaxmple-->
    <servlet>
        <servlet-name>cookie-example</servlet-name>
        <servlet-class>com.asrori.cookieandsession.FormCookies</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>cookie-example</servlet-name>
        <url-pattern>/cookie-example</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>session-example</servlet-name>
        <servlet-class>com.asrori.cookieandsession.SessionTracking</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>session-example</servlet-name>
        <url-pattern>/session-example</url-pattern>
    </servlet-mapping>
    <!--end cookie and session ecaxmple-->

    <!--start file upload example-->
    <servlet>
        <servlet-name>file-upload-example</servlet-name>
        <servlet-class>com.asrori.UploadFileExample</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>file-upload-example</servlet-name>
        <url-pattern>/file-upload-example</url-pattern>
    </servlet-mapping>

    <context-param>
        <description>lokasi untuk menyimpan file</description>
        <param-name>file-upload</param-name>
        <param-value>/home/asrori/</param-value>
    </context-param>
    <!--end file upload example-->

</web-app>